$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body, #app-main {
  height: 100%;
}

body {
  overflow: hidden;
}

.content {
  margin-top: 50px;
}

h2, .h2 {
  font-size: 30px;
  @media screen and (max-width: 640px) {
    font-size: 5vw;
  }
}