.slide-list {
  ul {
    width: 100%;    
  }

  li {
    font-size: 30px;
    line-height: 2em;
  }
    
  .full {
    height: calc(70vh - 125px);
  }

  .half {
    height: calc(50vh - 75px);
  }

  .small {
    li {
      line-height: 1.5em;
    }
  }

}
