<div id="app">
  <div id="toolbar">
    Presentation:
    <select v-if="presentations.length > 0 && currentPresentation"
      v-model="currentPresentation"
      @change="changeSlideshow">
      <option :value="presentation.id" v-for="presentation in presentations">{{ presentation.title }}</option>
    </select>
      Slide:
    <select v-if="slides.length > 0"
      v-model="currentSlide">
      <option :value="index" v-for="(slide, index) in slides">{{ index }}</option>
    </select>
  </div>
  <app-home-slide :slide="homeSlide" @hideme="hideHomeSlide" v-show="showHomeSlide"></app-home-slide>
  <transition-group
                tag="div"
                name="slide"
                :enter-class="slideEnter"
                :leave-to-class="slideLeave"
                v-if="slides.length > 0">
    <app-slides
                v-for="index in [currentSlide]"
                :slide="slides[currentSlide]"
                :index="index"
                :key=index>
    </app-slides>
  </transition-group>
  <div class="pager previous" @click="previousSlide">
    <i class="arrow left"></i>
  </div>
  <div class="pager next" @click="nextSlide">
    <i class="arrow right"></i>
  </div>
</div>
