.slide-imagetext {
  .full {
    height: calc(80vh - 125px);
  }

  .half {
    height: calc(50vh - 75px);
  }

  img {
    max-width: 100%;
    height: calc(50vh - 150px);
  }

  .left {
    @media screen and (min-width: 800px) {
      float: left;
    }  
  }

  .right {
    @media screen and (min-width: 800px) {
      margin-left: 50%;
    }
    font-size: 30px;
    @media screen and (max-width: 640px) {
      font-size: 5vw;
    }  

    a {
      color: blue;
    }
  }
}